<footer>

     <div id="logoFooter">

         <img src="" alt="logo de factoriaf5">

     </div>

     <div id="legalContainer">

         <ul>

             <li><a href="#">Política de cookies</a></li>

             <li><a href="#">Políticas de privacidad</a></li>

         </ul>

     </div>

     <div id="socialContainer">

         <a href="#"><img src="" alt="logo instagram "></a>

         <a href="#"><img src="" alt="logo twitter"></a>

         <a href="#"><img src="" alt="logo correo"></a>

         <a href="#"><img src="" alt="logo teléfono"></a>

     </div>

     <div id="directionsContainer">

         <ul>

             <li>CARRER DEL BRUC 149, 08037 BARCELONA</li>

             <li>Made with ❤ by the 3rd front-end promotion</li>

         </ul>

     </div>

 </footer>

<nav id="navBar">

     <div id="logoContainer">

         <img src="" alt="imgLogo">

     </div>

     <div id="menuContainer">

         <img src="" alt="iconMenu">

         <ul id="menuList">

             <li>Perfil</li>

             <li>Hiring Week</li>

             <li>Coders</li>

         </ul>

     </div>

 </nav>