// Colores

// Primary Colors
$primaryMain: hsl(32, 100%, 51%);
$secondaryMain: hsl(7, 86%, 62%);

// Neutral Colors
$lightMain: hsl(60, 100%, 100%);
$darkMain: hsl(247, 24%, 7%);
$darkSubtle: hsl(236, 15%, 21%);
$darkGrayer: hsl(235, 15%, 70%);
$darkDarker: hsl(0, 0%, 0%);

$primaryLighter: hsl(35, 100%, 56%);
$secondaryLighter: hsl(7, 100%, 70%);

$primaryDarker: hsl(29, 100%, 45%);
$secondaryDarker: hsl(7,69%, 53%);

$statusElementSuccess: hsl(141, 81%, 34%);
$statusElementError: hsl(359, 77%, 55%);
$statusElementWarning: hsl(39, 100%, 53%);

$statusTextSuccess: hsl(145, 48%, 57%);
$statusTextError: hsl(0, 100%, 72%);
$statusTextWarning: hsl(33, 86%, 65%);