<div id="testContainer">
  <img src="source" alt="Foto de coder">
    <ul>
      <li>Nombre</li>
      <li>Descripción</li>
      <li>Perfil <span>TECH<span><span>TECH</span></span>TECH</span></li>
    </ul>
</div>