<article class="skillDescriptionCard">
    <img src="../../images/test.svg" alt="skill">
    <h4>.SOFT SKILLS.</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi voluptatum similique id iusto odio cum consequatur corrupti soluta, qui eius nemo libero porro obcaecati magni fugiat quae laborum pariatur ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A non iusto corporis ut, enim perferendis distinctio nostrum quia repellendus possimus voluptate laboriosam amet sapiente sit, illum totam eos, et quos?</p>
</article>